DATABASE_URL="postgresql://postgres.anwrfqfmjijhnoajlwws:OmniBoq%40%23%24123@aws-0-ap-southeast-2.pooler.supabase.com:5432/postgres?sslmode=require"

JWT_ACCESS_SECRET="change-me-access-secret"
JWT_REFRESH_SECRET="change-me-refresh-secret"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

PORT=3001
CORS_ORIGIN="http://localhost:3000"
